#conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#cartoes{
    width: 200px;
    padding: 20px;
    box-shadow: 0px 0px 20px black;
    margin-bottom: 40px;
    border-radius: 10px;
}